---
import Article4 from "../components/Article4.astro";
import Article6 from "../components/Article6.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Article Page">
    <div class="article">
        <Article6></Article6>
    </div>
    <div class="relevantPosts">
        <div class="title">
            More From Category
        </div>
        <div class="row">
            <Article4 includeTag={false} />
            <Article4 includeTag={false} />
            <Article4 includeTag={false} />
        </div>
    </div>
    
</Layout>

<style>
    main {
        width: 100%;
    }
    .article {
        margin: 32px 320px 32px 320px;
    }
    .relevantPosts {
        margin:0px 120px 0px 120px;
        border-top: 1px solid #DAE4DB;
    }
    .title {
        padding: 32px 0 32px 0px;
        font-size: 32px;
    }
    .row {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        margin-top: 16px;
    }
</style>