
<header>
  <div class="site-name">Your Site Name</div>
  <nav class="navbar">
    <ul>
      <li><a href="#">Menu Item 1</a></li>
      <li><a href="#">Menu Item 2</a></li>
      <li><a href="#">Menu Item 3</a></li>
    </ul>
  </nav>
  <button class="subscribe-btn">Subscribe</button>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .site-name {
    padding-left: 20px;
  }
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .navbar li {
    display: inline;
    margin-right: 20px;
  }
  .subscribe-btn {
    padding: 10px 20px;
    margin-right: 20px;
  }
</style>
