<!-- Footer.astro -->

<footer>
    
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Explore</h4>
        <ul>
          <li><a href="#">Explore 1</a></li>
          <li><a href="#">Explore 2</a></li>
          <li><a href="#">Explore 3</a></li>
          <li><a href="#">Explore 4</a></li>
          <li><a href="#">Explore 5</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Build</h4>
        <ul>
          <li><a href="#">Build 1</a></li>
          <li><a href="#">Build 2</a></li>
          <li><a href="#">Build 3</a></li>
          <li><a href="#">Build 4</a></li>
          <li><a href="#">Build 5</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Learn</h4>
        <ul>
          <li><a href="#">Learn 1</a></li>
          <li><a href="#">Learn 2</a></li>
          <li><a href="#">Learn 3</a></li>
          <li><a href="#">Learn 4</a></li>
          <li><a href="#">Learn 5</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Guides</h4>
        <ul>
          <li><a href="#">Guide 1</a></li>
          <li><a href="#">Guide 2</a></li>
          <li><a href="#">Guide 3</a></li>
          <li><a href="#">Guide 4</a></li>
          <li><a href="#">Guide 5</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Topics</h4>
        <ul>
          <li><a href="#">Topic 1</a></li>
          <li><a href="#">Topic 2</a></li>
          <li><a href="#">Topic 3</a></li>
          <li><a href="#">Topic 4</a></li>
          <li><a href="#">Topic 5</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright">
        <span>&#169;</span> 2024 Canto Pub
      </div>
      <div class="terms-privacy">
        <a href="#">Terms</a> | <a href="#">Privacy</a>
      </div>
    </div>
  </footer>
  
  <style>
    .susbcribe-posts {
        height: 200px;
    }
    .container {
        max-width: 1200px;
        height: 200px;
        background-color: #252729;
    }
    footer {
      background-color: #f2f2f2;
      padding: 40px 0;
    }
    .footer-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 50px;
    }
    .footer-column {
      width: 20%;
      padding: 0 20px;
    }
    .footer-column h4 {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
    }
    .footer-column ul {
      list-style-type: none;
      padding: 0;
    }
    .footer-column ul li {
      margin-bottom: 5px;
    }
    .footer-column ul li a {
      color: #333;
      text-decoration: none;
      font-size: 14px;
    }
    .footer-bottom {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: #666;
    }
  </style>
  